.colour-scheme {
	$colour-size: 10rem;
	@include cf;
	@include unlist;

	li {
		@include colours("&:before", $chain: "&.");
		@include content-margins;
		@include push--top($base-spacing-unit / 1.2);
		@include flush--bottom;
		line-height: $colour-size;
		padding-left: $colour-size + 1.5rem;
		position: relative;
		white-space: nowrap;

		&:before {
			@include pseudo;
			width: $colour-size;
			height: $colour-size;
			position: absolute;
			top: 0; left: 0;
			border: 1px solid;
		}

		@include mq("phone-wide") {
			float: left;
			width: 100 / 2 * 1%;

			&:nth-child(-n+2) {
				margin-top: 0;
			}
		}

		@include mq("tablet-wide") {
			width: 100 / 3 * 1%;

			&:nth-child(-n+3) {
				margin-top: 0;
			}
		}

		@include mq("desktop") {
			width: 100 / 4 * 1%;

			&:nth-child(-n+4) {
				margin-top: 0;
			}
		}
	}
}