/*--------------------------------

	Basic form fields layout

*/

.form-fields {

	> * {
		@include push--top($base-spacing-unit / 1.5);
		list-style: none;

		&:first-child {
			@include flush--top;
		}
	}

	label,
	.label {
		margin-bottom: $base-spacing-unit / 6;
	}

	&,
	&__list,
	&__list-inline,
	&__split {

		> * {
			position: relative;
		}
	}

	&__list {

		> * {
			list-style: none;
			margin-top: $base-spacing-unit / 2;

			&:first-child {
				@include flush--top;
			}
		}
	}

	&__list-inline {

		> * {
			margin-right: $base-spacing-unit / 2;
			display: inline-block;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__split {
		@include cf;
		@include offset--sides($base-spacing-unit / 4);

		> * {
			@include soft--sides($base-spacing-unit / 4);
			float: left;
			list-style: none;
			margin-top: $base-spacing-unit / 2;
			width: 50%;

			&:first-child,
			&:nth-child(2) {
				@include flush--top;
			}
		}

		span.error-text {
			right: $base-spacing-unit / 4;
		}
	}
}