{
  "extends": "airbnb-base",
  "globals": {
    "$": true,
    "Modernizr": true,
    "document": true,
    "window": true
  },
  "rules": {
    "func-names": "off",
    "import/no-extraneous-dependencies": [
      "warn",
      {
        "devDependencies": true
      }
    ],
    "indent": [
      "warn",
      "tab"
    ],
    "keyword-spacing": "off",
    "no-tabs": "off",
    "no-var": "warn",
    "object-shorthand": "warn",
    "one-var": "off",
    "padded-blocks": "off",
    "prefer-arrow-callback": "warn",
    "prefer-template": "warn",
    "space-before-blocks": "off",
    "space-before-function-paren": "off",
    "space-in-parens": "off"
  }
}
