{
  extends: 'airbnb/legacy',
  globals: {
    '$': true,
    '$core': true,
    '$site': true,
    'Modernizr': true,
    'clearSiteResize': true,
    'getRandomInt': true,
    'jQuery': true,
    'rangeToRange': true,
    'site': true,
    'siteResize': true
  },
  rules: {
    # overrides
    'func-names': 0,
    'indent': [2, 'tab'],
    'one-var': 0,
    'padded-blocks': 0,
    'space-before-function-paren': [2, 'never'],
    # warnings
    'comma-dangle': 1,
    'comma-spacing': 1,
    'consistent-return': 1,
    'curly': 1,
    'dot-notation': 1,
    'eol-last': 1,
    'eqeqeq': 1,
    'key-spacing': 1,
    'keyword-spacing': 1,
    'max-len': 1,
    'no-extra-semi': 1,
    'no-floating-decimal': 1,
    'no-multi-spaces': 1,
    'no-param-reassign': 1,
    'no-undef': 1,
    'no-unused-vars': 1,
    'semi': 1,
    'space-before-blocks': 1,
    'space-in-parens': 1,
    'spaced-comment': 1,
    'vars-on-top': 1
  },
}
