{
  "extends": "airbnb-base/legacy",
  "globals": {
    "$": true,
    "Modernizr": true
  },
  "rules": {
    "comma-dangle": [
      "warn",
      "always-multiline"
    ],
    "comma-spacing": "warn",
    "consistent-return": "warn",
    "curly": "warn",
    "dot-notation": "warn",
    "eol-last": "warn",
    "eqeqeq": "warn",
    "func-names": "off",
    "indent": [
      "warn",
      "tab"
    ],
    "key-spacing": "warn",
    "keyword-spacing": [
      "warn",
      {
        "after": false,
        "before": false,
        "overrides": {
          "return": {
            "after": true
          }
        }
      }
    ],
    "max-len": "warn",
    "no-extra-semi": "warn",
    "no-floating-decimal": "warn",
    "no-mixed-operators": "warn",
    "no-multi-spaces": "warn",
    "no-param-reassign": "warn",
    "no-plusplus": "off",
    "no-tabs": "off",
    "no-undef": "warn",
    "no-underscore-dangle": "warn",
    "no-unused-vars": "warn",
    "one-var": "off",
    "padded-blocks": "off",
    "semi": "warn",
    "space-before-blocks": [
      "warn",
      "never"
    ],
    "space-before-function-paren": [
      "warn",
      "never"
    ],
    "space-in-parens": "off",
    "spaced-comment": "warn",
    "vars-on-top": "warn"
  }
}
