/*--------------------------------

	Flush - to set "margin-top: 0" from the first nth elements

	Example class:
	<div class="base-flush-first-2">
		<div>Child 1</div>
		<div>Child 2</div>
		<div>Child 3</div>
		<div>Child 4</div>
	</div>

	Would target, at no media query, first 2 children ( div:nth-child(-n+2) )

	Example class:
	<div class="base-flush-first-2 tablet-flush-first-3">
		<div>Child 1</div>
		<div>Child 2</div>
		<div>Child 3</div>
		<div>Child 4</div>
	</div>

	Would target, at no media query, first 2 children ( div:nth-child(-n+2) )
	And would target, at tablet media query, first 3 children ( div:nth-child(-n+2) )

*/

@mixin flush-nth($modifier: '') {

	$modifierClass: '';

	@if $modifier != '' {
		$modifierClass: '--#{$modifier}';
	}
	@else {
		$modifier: 'base';
	}

	@for $i from 1 through $grid-column-count {

		@if $dev-mode {
			.flush-first-#{$i}#{$modifierClass} {
				> * {
					&:nth-child(-n+#{$i}) {
						@include flush--top;
					}
				}
			}
		} @else if index( map-deep-get($grid-bp, $modifier, flush) , $i) or map-deep-get($grid-bp, $modifier, flush) == true {
			.flush-first-#{$i}#{$modifierClass} {
				> * {
					&:nth-child(-n+#{$i}) {
						@include flush--top;
					}
				}
			}
		}

	}

}

@include flush-nth;

@each $name, $min-width in $breakpoints {

	@include mq($name) {

		@include flush-nth(#{$name});

	}

}