/*--------------------------------

	Grids

*/

@function grid-calc($index, $total: $grid-column-count) {
	@if $index == 0 {
		@return 0%;
	} @else {
		@return 100%/($total/$index);
	}
}



/*--------------------------------

	Z-indexing

	use:

		instead of guessing or adding random z-indexes throughout the project (e.g. 100000, 999999, etc.), call the z-index function to generate a z-index from a stacked list of classes

	prerequisits:

		$z-indexes list must exist in variables file

	example:

		.box {
			z-index: z('box');
		}

*/

@function z($name) {

	@if index($z-indexes, $name) {

		@return (length($z-indexes) - index($z-indexes, $name)) + 1;

	} @else {

		@warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';

		@return null;

	}

}



/*--------------------------------

	Photoshop letter spacing

	use:

		for simple conversion between Photoshop letter-spacing to ems

	prerequisits:

		$ls list must exist in variables file

	example:

		.awesome-heading {
			letter-spacing: ls('awesome-heading');
		}

		could generate (if "awesome-heading") is 2nd in the list:

		.awesome-heading {
			letter-spacing: -0.01em;
		}

*/

@function ls($name) {
	$value: map_get($ls, $name);
	@return $value / 1000 * 1em;
}

@function ls-basic($value) {
	@return $value / 1000 * 1em;
}



/*--------------------------------

	Map deep get

	Get values from anywhere in a variable list

	http://css-tricks.com/snippets/sass/deep-getset-maps/

*/

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}


/*--------------------------------

	Strip unit

*/

@function strip-unit($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}

	@return $number;
}


/*--------------------------------

	Very simple number functions

*/

@function h($num) {
	@return $num / 2;
}

@function n($num) {
	@return 0 - $num;
}

@function hn($num) {
	@return n(h($num));
}
