.sg {
	@include soft--ends($spacing-unit);
}

.sg-header {}

.sg-nav {
	ul {
		margin-left: $spacing-unit;
		margin-right: $spacing-unit;
		list-style-type: disc;
	}

	li {
		margin-top: $rel-spacing-unit--small;

		&:first-child {
			margin-top: 0;
		}

		> ul {
			margin-top: $rel-spacing-unit--small;
		}
	}
}

.sg-body {
	margin-top: $spacing-unit--large;

	@include mq('tablet') {
		margin-top: $spacing-unit--x-large;
	}
}

.sg-group {
	margin-top: $spacing-unit--large;
	padding-top: $spacing-unit--large;
	border-top: 1px solid $c--grey-dark;

	&__title {
		margin-bottom: 0;
	}

	&:first-child {
		margin-top: 0;
		padding-top: 0;
		border-top: none;
	}

	@include mq('tablet') {
		margin-top: $spacing-unit--x-large;
		padding-top: $spacing-unit--x-large;
	}
}

.sg-section {
	margin-top: $spacing-unit;

	&:first-child {
		margin-top: 0;
	}

	&__header {
		background-color: $c--grey-light;
		padding: $spacing-unit;

		h1 {
			font-weight: $w--normal;
			font-style: italic;
		}
	}

	&__body {
		margin-top: $spacing-unit--small;

		@include mq('tablet') {
			margin-top: $spacing-unit;
		}
	}

	@include mq('tablet') {
		margin-top: $spacing-unit--large;
	}
}

.sg-content {
	margin-top: $spacing-unit--small;
	padding-top: $spacing-unit--small;
	border-top: 1px dashed $c--grey;

	&:first-child {
		margin-top: 0;
		padding-top: 0;
		border-top: none;
	}

	@include mq('tablet') {
		margin-top: $spacing-unit;
		padding-top: $spacing-unit;
	}

	&__header {
		h1 {
			position: relative;

			&::before {
				@include css-triangle($c--brand-secondary, 'right');
				top: 50%; left: n($spacing-unit--small);
				transform: translateY(-50%);
			}
		}
	}

	&__example {
		margin-top: $spacing-unit--small;

		@include mq('tablet') {
			margin-top: $spacing-unit;
		}

		.logo {
			width: 200px;
		}
	}

	&__markup {
		margin-top: $spacing-unit--small;

		&__source {
			margin-top: $spacing-unit--small;
			text-align: left;
		}

		@include mq('tablet') {
			margin-top: $spacing-unit;
		}
	}
}
/*
 * Colour scheme
 */

.sg-colour-scheme {
	$colour-size: 100px;
	@include cf;

	li {
		@include colours('&::before', $chain: '&.');
		@include content-margins;
		margin-top: $spacing-unit--small;
		line-height: $colour-size;
		padding-left: $colour-size + 15px;
		position: relative;
		white-space: nowrap;

		&::before {
			@include pseudo;
			width: $colour-size;
			height: $colour-size;
			position: absolute;
			top: 0; left: 0;
			border: 1px solid;
		}

		@include mq('phone-wide') {
			float: left;
			width: 100 / 2 * 1%;

			&:nth-child(-n+2) {
				margin-top: 0;
			}
		}

		@include mq('tablet-wide') {
			width: 100 / 3 * 1%;

			&:nth-child(-n+3) {
				margin-top: 0;
			}
		}

		@include mq('desktop') {
			width: 100 / 4 * 1%;

			&:nth-child(-n+4) {
				margin-top: 0;
			}
		}
	}
}


/*
 * Grid demos
 */

.sg-example-grid {
	span {
		display: block;
		position: relative;
		padding: $spacing-unit--x-small;
		border: solid 1px $c--grey-light;
		text-align: center;
		background: $c--grey-x-light;
		color: $c--grey-dark;
		font-weight: $w--bold;
		font-size: $p--small;
	}
}

.sg-flush-test {
	div {
		margin-top: $grid-column-gutter;
		background-color: $c--grey-x-light;
		border: solid 1px $c--grey-light;
	}
}


/*
 * Icons
 */

 .sg-icons {
 	.icon {
 		font-size: 30px;
 	}
 }