// FORMALIZE (based on https://github.com/nathansmith/formalize)

// general

input,
button,
select,
textarea {
	&:invalid {
		box-shadow: none;
	}

	&:focus {
		z-index: 1;
	}
}


// input, textarea, select

input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
textarea,
select {
	margin: 0;
	width: 100%;
	background-clip: border-box;
	outline: 0;
	text-align: left;
	vertical-align: top;
	appearance: none;
}

textarea,
select[size],
select[multiple] {
	height: auto;
}

select[size],
select[multiple] {
	background-image: none;
	padding-right: 12px;
}

// Can't remove default dropdown for less-than IE9, so remove background and set default padding
select {
	.lte-ie9 & {
		background-image: none;
	}
}

// remove dropdown for IE10+
select::-ms-expand {
	display: none;
}

// Allow only vertical resizing of textareas
textarea {
	resize: vertical;
}

input[type='search'] {
  box-sizing: border-box; // override normalise

	&::-webkit-search-decoration {
		display: none;
	}
}

optgroup {
	font-style: normal;
	font-weight: normal;
	font-family: sans-serif; // repeated for firefox

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}


// button

button,
.button {
	background: none;
	padding: 0;
	width: auto;
	margin: 0;
	cursor: pointer;
	outline: 0;
	overflow: visible;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	font: normal 16px/100% sans-serif;
	appearance: none;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}

button[disabled],
.button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
	box-shadow: none;
	user-select: none;

	&:hover {
		cursor: not-allowed;
	}
}


// extra cursor interactions

textarea:active,
textarea:focus {
	cursor: text;
	outline: none;
}