/*--------------------------------

	Default colour variable fallbacks

*/

// brand colours

$c-brand-primary: #fdbc00 !default;


// greyscale

$c-black: #1a1a1a !default;
$c-grey-dark: #444 !default;
$c-grey: #888 !default;
$c-grey-light: #ddd !default;
$c-white: #fff !default;


// other colours

$c-red: #f50023 !default;
$c-green: #24b35d !default;
$c-blue: #4D90FE !default;


// form & message positive/negative colours

$c-positive: #24b35d !default;
$c-negative: #f50023 !default;


// top level element colours

$c-body-bg: white !default;
$c-body-colour: black !default;