.example-grid {

	.column,
	.full-width {
		@include soft--ends($grid-column-gutter / 2);

		@for $i from 1 through $grid-column-count {
			&:nth-child(#{$i}) span::before {
				content: '#{$i}';
				position: absolute;
				top: .2rem; left: .4rem;
				font-size: .9rem;
				opacity: .3;
			}
		}
	}

	span {
		display: block;
		position: relative;
		padding: 1rem;
		border: solid 1px $c-grey-light;
		text-align: center;
		background: $c-grey-off-white;
		color: $c-grey-dark;
		font-weight: $w-bold;
		font-size: $p-small;
	}
}

.flush-test {

	div {
		@include push--top($grid-column-gutter);
	}
}