a,
.a {
	color: $c-brand-primary;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}

	&:focus {}

	&:link {
		-webkit-tap-highlight-color: rgba($c-white, 0);
	}
}

.a {
	&--block {
		display: block;
	}

	&--subtle {
		colour: inherit;
		text-decoration: none;
	}
}