a {
	color: $c-brand-primary;
	font-weight: $w-bold;
	text-decoration: underline;

	&:hover:not(.button) {
		.no-touchevents & {
			color: $c-black;
		}
	}

	&:focus {
		.no-touchevents & {
			box-shadow: 0px 0px 3px $c-blue, 0px 0px 6px $c-blue;
		}
	}

	&:link {
		-webkit-tap-highlight-color: rgba($c-white, 0);
	}
}