a {
	color: $c-brand-primary;
	font-weight: $w-bold;
	text-decoration: underline;

	&:focus,
	&:hover {
		color: $c-black;
		// outline: 0; // include if using custom focus outlines
	}

	&:focus {
		// box-shadow: 0 0 5px $c-blue; // custom focus outline
	}

	&:link {
		-webkit-tap-highlight-color: rgba($c-white, 0);
	}
}