.blockquote {
	max-width: 45em;
	position: relative;

	p {
		font-size: $p--medium;
		line-height: $lh--large;

		@include mq('tablet-small') {
			font-size: $p--large;
		}
	}

	cite {
		display: inline-block;
		font-size: $p--small;
		margin-top: $rel-spacing-unit--small;

		@include mq('tablet-small') {
			font-size: $p;
		}
	}

	&--left,
	&--right {
		max-width: 50%;
	}

	&--left {
		padding-right: $spacing-unit;
		float: left;
	}

	&--right {
		padding-left: $spacing-unit;
		float: right;
	}

	&--centre {
		@include push--auto;
		text-align: center;
	}
}