// basic buttons

.button {
	background-color: $c--brand-primary;
	color: $c--white;
	font-family: $stack--sans-serif;
	font-size: $p--base;
	font-weight: $w--normal;
	padding: 17px;
	position: relative;

	&.is-focused {
		box-shadow: 0px 0px 3px $c--blue, 0px 0px 6px $c--blue;
	}

	&:active {
		top: 4px;
	}

	&[disabled] {
		&,
		&:focus {
			background-color: $c--grey-light;
			color: mix($c--grey-light, $c--black, 60%);
		}
	}
}


// colours

.button--secondary {
	background-color: $c--black;
}

.button--positive {
	background-color: $c--positive;

	&:focus {
		background-color: $c--positive;
	}
}

.button--negative {
	background-color: $c--negative;

	&:focus {
		background-color: $c--negative;
	}
}


// sizes

.button--large {
	padding: 22px 30px;

	@include mq('tablet') {
		padding: 25px 40px;
		font-size: $p--medium;
	}
}

.button--small {
	font-size: $p--small;
	padding: 12px;
}