code,
pre {
	word-wrap: break-word;
	white-space: pre-wrap;
	font-family: 'courier new', monospace, serif;
	font-size: $p-small;
	font-weight: normal;
	line-height: $lh-mini;
	background-color: $c-grey-off-white;
	color: $c-grey-dark;
}

code {
	padding: .5rem;
}

pre {
	padding: 1.5rem;
}