dl {
	@include mq('tablet') {
		@include cf;
	}
}

dt,
dd {
	@include mq('tablet') {
		float: left;
	}
}

dt {
	margin-top: $rel-spacing-unit;
	font-weight: $w--bold;

	&:first-child {
		margin-top: 0;

		+ dd {

			@include mq('tablet') {
				margin-top: 0;
			}
		}
	}

	@include mq('tablet') {
		clear: left;
		width: 25%;
	}
}

dd {
	margin-top: $rel-spacing-unit--small;

	@include mq('tablet') {
		margin-top: $rel-spacing-unit;
		padding-left: $spacing-unit--small;
		width: 75%;
	}
}