dl {
	@include mq('tablet-small') {
		@include cf;
	}
}

dt,
dd {
	@include mq('tablet-small') {
		float: left;
	}
}

dt {
	@include push--top(1em);
	font-weight: $w-bold;

	&:first-child {
		@include flush--top;

		+ dd {

			@include mq('tablet-small') {
				@include flush--top;
			}
		}
	}

	@include mq('tablet-small') {
		clear: left;
		width: 25%;
	}
}

dd {
	@include push--top(.5em);

	@include mq('tablet-small') {
		@include push--top(1em);
		@include soft--left($base-spacing-unit / 1.2);
		width: 75%;
	}
}