.table-wrapper {
	max-width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: $p--base;
	line-height: $lh--small;
	width: 100%;

	caption {
		@include vh;
	}

	tr {

		&:first-child {

			td {
				border-top: none;
			}
		}

		&:last-child {

			td {
				border-bottom: 1px solid $c--grey-light;
			}
		}

		&:nth-child(even) {

			td {
				background-color: $c--grey-x-light;
			}
		}

		&:hover {

			td {
				background-color: darken($c--grey-x-light, 3%);
			}
		}
	}

	th,
	td {
		padding-right: $spacing-unit--small;
		vertical-align: top;

		&:first-child {
			padding-left: $spacing-unit--small;
		}

		&:last-child {
			padding-right: $spacing-unit--small;
		}
	}

	th {
		@include soft--ends($spacing-unit--small);
		background-color: darken($c--grey-x-light, 3%);
		border-top: 1px solid $c--grey-light;
		border-bottom: 1px solid $c--grey-light;
		font-weight: $w--bold;
		text-align: left;

		.text,
		.icon-wrapper {
			display: inline-block;
			vertical-align: top;
		}

		.icon-wrapper {
			margin-left: $spacing-unit / 6;
		}

		@include mq('tablet') {
			@include soft--ends($spacing-unit--small);
		}
	}

	td {
		@include soft--ends($spacing-unit--small);
		border-top: 1px solid $c--grey-light;

		@include mq('tablet') {
			@include soft--ends($spacing-unit);
		}
	}
}