.table-wrapper {
	max-width: 100%;
}

table {
	border: 1px solid $c--grey-light;
	border-top: none;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: $p;
	line-height: $lh--small;
	width: 100%;

	caption {
		@include vh;
	}
}

th,
td {
	@include soft--ends($spacing-unit--small);
	border-top: 1px solid $c--grey-light;
	padding-right: $spacing-unit--small;
	vertical-align: top;

	&:first-child {
		padding-left: $spacing-unit--small;
	}
}

th {
	font-weight: $w--bold;
	text-align: left;
}