/*--------------------------------

	Basic, low level typography

*/

$typography-elems:
	'p',
	'ul',
	'ol';

$media-elems:
	'.button-wrapper',
	'.table-wrapper',
	'.media';

// Headings

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	@include content-margins('&');
	font-weight: $w--bold;
	font-size: 100%;
	line-height: 1;
	margin-top: 1em;

	a {
		font-weight: $w--bold;
	}
}

h1,
.h1 {
	font-size: $h--x-large;
	line-height: 1;
	margin-bottom: .5em;

	@include mq('desktop') {
		font-size: $h--xx-large;
	}
}

h2,
.h2 {
	font-size: $h--x-large - .6rem;
	margin-bottom: .6em;

	@include mq('desktop') {
		font-size: $h--x-large;
	}
}

h3,
.h3 {
	font-size: $h--large;
	margin-bottom: .7em;
}

h4,
.h4 {
	font-size: $h--medium;
	margin-bottom: .7em;
}

h5,
.h5 {
	font-size: $h--small;
	margin-bottom: .8em;
}

h6,
.h6 {
	font-size: $h--x-small;
	margin-bottom: .9em;
}


// Basic typography styling

#{$typography-elems} {
	@include content-margins('&');
	margin-bottom: 1em;
}

#{$media-elems} {
	@include content-margins('&');
	margin-bottom: 1.25em;
}

ol,
ul {
	list-style: none;
}

.ol,
.ul {
	margin-left: $spacing-unit * 1.5;
	margin-right: $spacing-unit * 1.5;

	> li {
		margin-top: .75em;

		&:first-child {
			margin-top: 0;
		}
	}
}

.ol {
	list-style-type: decimal;
}

.ul {
	list-style-type: disc;
}


// Stylistic elements

b,
strong {
	font-weight: $w--bold;
}

small {
	font-size: 80%;
}