/*--------------------------------

	Box sizing

*/

* {

	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}
}



/*--------------------------------

	Basic document styling

*/

html {
	font-size: 10px;
	min-height: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: none;

	@include mq("phone-wide", "max") {
		font-size: 9px;
	}
}

body {
	background-color: $c-body-bg;
	color: $c-body-colour;
	font-family: $sans-serif;
	font-size: $base-font-size;
	line-height: $base-line-height;
}



/*--------------------------------

	Text selection/highlighting

*/

@include selection {
	background: $c-brand-primary;
	color: $c-white;
	text-shadow: none;
}