code,
pre {
    line-height: $lh-mini;
    word-wrap: break-word;
    font-family: 'courier new', monospace, serif;
    color: $c-grey-dark;
    background-color: $c-grey-off-white;
    font-weight: normal;
    padding: .5rem;
    white-space: pre-wrap;
}