body {
	font-family: 'Open Sans';
	font-weight: $n-regular;
	font-size: $s-p-normal;
	color: $c-body-text;
}

h1, h2, h3, h4 {
	font-weight: $n-light;
}

h1 { font-size: $s-h1; }
h2 { font-size: $s-h2; }
h3 { font-size: $s-h3; }
h4 { font-size: $s-h4; }

h1 {

	+ p {
		font-size: $s-p-large;
	}
}