html {
	font-size: 10px;
}

body {
	position: relative;
}

.container {
	max-width: $s-container-max-width;
	margin: 0 $s-container-gutter / 2;

	@media screen and (min-width: $mq-small) {
		margin: 0 $s-container-gutter;
	}

	@media screen and (min-width: $s-container-max-width + ( $s-container-gutter * 2 ) ) {
		margin: auto;
	}
}

.full-width {
	padding: 0 $column-gutter / 2;
}