/*--------------------------------

	System Message (404)

*/

@import "../../utility/reset/normalize";
@import "../../utility/functions";
@import "../../utility/mixins";
@import "../../utility/fonts";
@import "../../core";
@import "../../core/anchor";
@import "../../core/img";

$base-spacing-unit: 24px;

body {
	font: #{16px}/#{24px} $sans-serif;
}

.system-message {
	@include push--auto;
	@include soft($base-spacing-unit);
	max-width: 460px;
	text-align: center;

	a {
		background-color: transparent;
		color: $c-brand-primary;
		font-weight: bold;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $c-black;
		}
	}

	.logo {
		@include push--auto;
		display: block;
		width: 200px;

		img {
			border: none;
			width: 100%;
		}
	}

	h1,
	p {
		margin: 0;
		padding: 0;
	}

	h1 {
		@include push--top($base-spacing-unit / 1.2);
		font-size: 24px;

		@include mq("tablet-small") {
			@include push--top($base-spacing-unit);
			font-size: 32px;
		}
	}

	p {
		@include push--top($base-spacing-unit / 2);

		@include mq("tablet-small") {
			@include push--top($base-spacing-unit / 1.5);
			font-size: 18px;
		}
	}

	@include mq("tablet-small") {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}