/*--------------------------------

	System Message (404)

*/

@import 'normalize.css/normalize';
@import '../../utility/functions';
@import '../../utility/mixins';
@import '../../utility/fonts';
@import '../../core';
@import '../../core/anchor';
@import '../../core/img';

$spacing-unit: 30px;
$spacing-unit--small: 20px;

body {
	font: #{16px}/#{24px} $stack;
}

.system-message {
	@include push--auto;
	@include soft($spacing-unit);
	max-width: 460px;
	text-align: center;

	a {
		background-color: transparent;
		color: $c--brand-primary;
		font-weight: bold;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $c--black;
		}
	}

	.logo {
		@include push--auto;
		display: block;
		width: 200px;

		img {
			border: none;
			width: 100%;
		}
	}

	h1,
	p {
		margin: 0;
		padding: 0;
	}

	h1 {
		@include push--top($spacing-unit--small);
		font-size: 24px;

		@include mq('tablet-small') {
			@include push--top($spacing-unit);
			font-size: 32px;
		}
	}

	p {
		@include push--top($spacing-unit--small);
	}

	@include mq('tablet-small') {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}