/*---

<div class="breadcrumb">
	<a href="/">Home</a>

	<svg class="icon">
		<use xlink:href="/assets/img/sprite.svg#chevron-thin-right"></use>
	</svg>

	<a href="/">Research</a>

	<svg class="icon">
		<use xlink:href="/assets/img/sprite.svg#chevron-thin-right"></use>
	</svg>

	<span>Open research at the University of Northampton</span>
</div>

*/

.breadcrumb {
	@include cf;
	line-height: $lh--small;

	a,
	.icon,
	span {
		display: inline-block;
		margin-right: rem(5px);
		vertical-align: top;

		&:last-child {
			margin-right: 0;
		}
	}

	.icon {
		$x: 3;
		$y: 20;
		vertical-align: n($x/$y * 100%);
	}
}
