.container {
	@include push--sides($page-gutter);
	position: relative;
	max-width: $max-width;

	@include mq('tablet') {
		@include push--sides($page-gutter--tablet);
	}

	@include mq('desktop') {
		@include push--sides($page-gutter--desktop);
	}

	@include mq($max-width + ( strip-unit($page-gutter--desktop) * 10 * 2 )) {
		@include push--auto;
	}
}