.copy {
	@include content-margins('> *');
	max-width: 35em;

	ol,
	ul {
		margin-left: $base-spacing-unit * 1.5;
		margin-right: $base-spacing-unit * 1.5;
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	li {
		margin-top: .75em;

		&:first-child {
			margin-top: 0;
		}
	}
}