/*--------------------------------

	Basic form fields layout

*/

// global form styling

form {
	ul {
		margin: 0;
		list-style: none;
	}

	li {
		@include flush--bottom;
	}
}


// form fieldset

.form-fieldset {
	margin-top: $base-spacing-unit * 1.25;
	padding-top: $base-spacing-unit * 1.25;
	border-top: 1px solid $c-grey-light;

	&:first-child {
		@include flush--top;
		@include hard--top;
		border-top: none;
	}

	&__title {
		@include mq('desktop') {
			font-size: $h-x-large;
		}
	}

	@include mq('desktop') {
		margin-top: $base-spacing-unit * 1.75;
		padding-top: $base-spacing-unit * 1.75;
	}
}

.form-field {
	margin-top: $base-spacing-unit / 1.2;

	&:first-child {
		margin-top: 0;
	}

	@include mq('desktop') {
		margin-top: $base-spacing-unit;
	}
}


// lists & groupings

.fields-list {
	> * {
		margin-top: $base-spacing-unit / 1.5;

		&:first-child {
			margin-top: 0;
		}
	}
}

.fields-list-inline {
	margin-top: $base-spacing-unit / -1.5;

	> * {
		margin-top: $base-spacing-unit / 1.5;
		margin-right: $base-spacing-unit / 2;
		display: inline-block;

		&:last-child {
			margin-right: 0;
		}
	}
}