.media {
	width: 100%;

	@include mq('tablet-small') {

		&--left,
		&--right {
			padding-bottom: $spacing-unit--small;
			max-width: 50%;

			&:last-child {
				padding-bottom: 0;
			}
		}

		&--left {
			padding-right: $spacing-unit--small;
			float: left;
		}

		&--right {
			padding-left: $spacing-unit--small;
			float: right;
		}

		&--centre {
			clear: both;
			max-width: 75%;

			&,
			> * {
				@include push--auto;
			}
		}
	}
}