/*--------------------------------

	Messages - such as form responses, block error messages, alerts

*/

.message {
	@include soft($base-spacing-unit / 1.2);
	border: 1px solid;

	a {
		font-weight: bold;
		text-decoration: underline;

		&:hover,
		&:focus,
		&:active {
			color: $c-black;
		}
	}

	p {
		@include push--top($base-spacing-unit / 3);

		&:first-child {
			margin-top: 0;
		}
	}

	&--positive {
		background-color: mix($c-positive, $c-white, 5%);
		border-color: $c-positive;
		color: $c-positive;

		a {
			color: $c-positive;
		}
	}

	&--negative {
		background-color: mix($c-negative, $c-white, 5%);
		border-color: $c-negative;
		color: $c-negative;

		a {
			color: $c-negative;
		}
	}
}