.pagination {
	line-height: 1;

	ol {
		text-align: center;
	}

	li {
		display: inline-block;
		margin-left: $spacing-unit--x-small;

		&:first-child {
			margin-left: 0;
		}
	}

	a,
	span {
		display: block;
		font-size: $p--small;
		line-height: 1;
	}

	a {
		background-color: $c--blue;
		color: $c--white;
		padding: $spacing-unit--x-small;
		text-decoration: none;

		&:hover,
		&:focus {
			background-color: $c--black;
			color: $c--white;
		}
	}

	.jump {
		&--disabled {
			a {
				background-color: $c--grey-light;
				color: $c--grey;
				cursor: not-allowed;
			}
		}
	}

	.page {
		&--current {
			a {
				background-color: $c--brand-primary;
				color: $c--white;
			}
		}
	}

	@include mq('tablet', 'max') {
		.jump--first,
		.jump--last,
		.page--end,
		.gap {
			display: none;
		}
	}
}