.table-responsive-collapse {
	.faux-th {
		display: none;

		+ * {
			@include flush--top;
		}
	}

	&--collapsed {
		thead {
			display: none;
		}

		&,
		tbody,
		tr,
		td {
			display: block;
		}

		tr {
			@include cf;
			border-top: 1px solid $c--grey-light;
			padding: $spacing-unit--small;
		}

		td {
			@include push--top($spacing-unit--small);
			border-top: none;
			clear: left;
			float: left;
			max-width: none;
			padding: 0;
			width: 100%;
			white-space: normal;

			&:first-child {
				@include flush--top;
			}

			.faux-th {
				@include antialias;
				display: block;
				font-weight: $w--bold;
				padding-bottom: .5em;
			}
		}
	}
}