.table-responsive-collapse {

	.faux-th {
		display: none;

		+ * {
			@include flush--top;
		}
	}

	&--collapsed {

		thead {
			display: none;
		}

		&,
		tbody,
		tr,
		td {
			display: block;
		}

		tr {
			@include cf;
			border-top: 1px solid $c--grey-light;

			td {

				&:first-child {
					padding-top: $spacing-unit--small;
				}

				&:last-child {
					padding-bottom: $spacing-unit--small;
				}
			}

			&:first-child {
				@include hard--top;
				border-top: none;
			}

			&:last-child {
				padding-bottom: 0;

				td {
					border-bottom: none;
					padding-bottom: 0;
				}
			}

			&:nth-child(even) {

				td {
					background-color: transparent;
				}
			}

			&:hover {

				td {
					background-color: transparent;
				}
			}
		}

		td {
			@include push--top($spacing-unit--small);
			border-top: none;
			clear: left;
			float: left;
			max-width: none;
			padding: 0;
			width: 100%;
			white-space: normal;

			&:first-child {
				@include flush--top;
				@include hard--left;
			}

			.faux-th {
				@include antialias;
				display: block;
				font-weight: $w--bold;
				padding-bottom: .5em;
			}
		}

		tr:first-child {

			td {
				padding-top: 0;
			}
		}
	}
}