<% nodes.forEach(function(node, i) { %>

	<% if (node.children.length) { %>

		<% if (!parent) { %>

			<section class="sg-section">

				<header class="sg-section__header">

					<h1 class="h2"><%= node.filename %></h1>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>

				</header>

		<% } %>

		<%- include('_components.html', { nodes: node.children, parent: (parent + '-' + i) }) %>

		<% if (!parent) { %>

			</section>

		<% } %>

	<% } else if (node.components.length) { %>

		<div class="sg-section__body">

			<% node.components.forEach(function(component, j) { %>

				<%- include(
					'_component.html',
					{
						component,
						name: component.attributes.title || node.filename,
						slug: parent + '-' + i + '-' + j
					}
				) %>

			<% }) %>

		</div>

	<% } %>

<% }) %>
