<article class="sg-content">

	<div class="sg-content__example">

		<header class="sg-content__header">

			<h1 class="h3" id="sg<%= slug %>"><%= name %></h1>

		</header>

		<div class="sg-content__example">

			<%- component.html %>

		</div>

		<div class="sg-content__markup reveal">

			<input class="vh reveal__toggle" type="checkbox" id="source<%= slug %>" value="" tabindex="-1">

			<label class="button reveal__label" for="source<%= slug %>">View Source</label>

			<div class="sg-content__markup__source reveal__wrapper">

				<pre><code class="language-markup"><%= component.html %></code></pre>

			</div>

		</div>

	</div>

</article>
