<!doctype html>
<html class="no-js">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Styleguide</title>
	<meta name="robots" content="noindex">

	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css">
	<link rel="stylesheet" href="/assets/css/styleguide.css">

	<script src="/assets/js/modernizr.js"></script>

</head>
<body>

	<div id="site-wrapper" class="site-wrapper">

		<header id="site-header" class="site-header" role="banner">

			<div class="container">

				<h1 class="h2"><a href="/">Front-end Baseplate</a></h1>

			</div>

		</header>

		<div id="site-content" class="site-content">

			<div class="sg container" id="sg">
				<header class="sg-header">
					<h1 class="h1">Styleguide</h1>

					<nav class="sg-nav">
						<h1 class="vh">Styleguide menu</h1>

						<ul>
							<li>
								Documentation
								<ul>
									<li><a href="#">To do</a></li>
								</ul>
							</li>
							<li>
								Components
								<ul>
									<li>
										Foundation
										<ul>
											<li><a href="#">Branding</a></li>
											<li><a href="#">Colour Scheme</a></li>
											<li><a href="#">Typography</a></li>
										</ul>
									</li>
									<%- include('_tree.html', { nodes }) %>
								</ul>
							</li>
						</ul>
					</nav>
				</header>

				<div class="sg-body">

					<div class="sg-group sg-group--components">

						<h1 class="sg-group__title h1">Components</h1>

						<%- include('_components.html', { nodes }) %>

					</div>

				</div>

			</div>

		</div>

		<footer id="site-footer" class="site-footer">
			<div class="container">
				<p>&copy; 2016 Engage</p>
			</div>
		</footer>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>

</body>
</html>
