<!doctype html>
<html class="no-js">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Styleguide</title>
	<meta name="robots" content="noindex">

	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/github.min.css">
	<link rel="stylesheet" href="/assets/css/styleguide.css">

</head>
<body>

	<h1 class="vh">Styleguide</h1>

	<nav class="sg-nav">

		<div class="sg-nav__inner">

			<ul>
				<li>
					Documentation
					<ul>
						<%- include('templates/_tree.html', { nodes: nodes.docs, parent: '-docs' }) %>
					</ul>
				</li>
				<li>
					Components
					<ul>
						<li>
							Foundation
							<ul>
								<%- include('templates/_tree.html', { nodes: nodes.vars, parent: '-vars' }) %>
							</ul>
						</li>
						<%- include('templates/_tree.html', { nodes: nodes.components, parent: '-component' }) %>
					</ul>
				</li>
			</ul>

		</div>

	</nav>

	<main class="sg-main">

		<div class="sg-main__inner">

			<section>

				<h1 class="h1">Documentation</h1>

				<%- include('templates/docs/index.html', { nodes: nodes.docs, parent: '-docs' }) %>

			</section>

			<section>

				<h1 class="h1 sg-push">Components</h1>

				<section>

					<h1 class="h2 sg-push">Foundation</h1>

					<%- include('templates/docs/index.html', { nodes: nodes.vars, parent: '-vars' }) %>

				</section>

				<%- include('templates/components/index.html', { nodes: nodes.components, parent: '-component', top: true }) %>

			</section>

		</div>

	</main>

	<script src="/assets/js/manifest.js"></script>
	<script src="/assets/js/vendor.js"></script>
	<script src="/assets/js/site.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
	<script>
		hljs.initHighlightingOnLoad();
	</script>

</body>
</html>
