@import 'variables';
@import 'utility/mixins';

// prism overrides

pre[class*=language-] {
	margin: 0;
	background-color: #f5f5f5;
}

code[class*=language-] {
	padding: 0;
	font-size: 14/16 * 1em;
}

.sg {

	// layout

	&--nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 20rem;
		height: 100vh;
		padding: $spacing-unit;
		overflow-y: auto;
		border-right: 1px solid #ddd;
		background-color: #f5f5f5;

		ul ul {
			padding-left: $spacing-unit--small;
		}

		a {
			text-decoration: none;
		}
	}

	&--main {
		padding-left: 20rem;

		&__inner {
			padding: $spacing-unit;
		}
	}

	// components

	&--example {
		margin-top: $rel-spacing-unit;
		border: 1px solid #ddd;

		&__preview {
			position: relative;
			padding: $rel-spacing-unit;
			overflow: hidden;
		}

		&__button {
			position: absolute;
			bottom: 0;
			right: 0;
		}

		&__source {
			border-top: 1px solid #ddd;
		}
	}

	// foundation

	&--colour {
		padding: {
			top: $grid-column-gutter;
			left: $grid-column-gutter;
		}
		text-align: center;

		&-wrapper {
			margin-left: n($grid-column-gutter);
		}

		&__value {
			position: relative;
			padding-top: 100%;
			border-radius: 50%;
			border: 1px solid #ddd;
			background-color: #f5f5f5;

			span {
				position: absolute;
				top: 50%; left: 50%;
				transform: translate(-50%, -50%);
				font-family: monospace;
				background-color: rgba($c--white, .6);
				padding: $spacing-unit--x-small;
			}
		}

		&__name {
			@include truncate(100%);
			margin-top: $spacing-unit--x-small;
			line-height: 1;
		}
	}

	// helpers

	&--push {
		padding-top: $spacing-unit !important;
	}
}
