/*--------------------------------

	Rows & Columns

*/

.row,
.full-width {
	@include cf;
}

.row {
	margin-right: $grid-column-gutter / -2;
	margin-left: $grid-column-gutter / -2;
}

.full-width {
	padding-right: $grid-column-gutter / 2;
	padding-left: $grid-column-gutter / 2;
}

.column {
	position: relative;
	float: left;
	width: 100%;
	padding-right: $grid-column-gutter / 2;
	padding-left: $grid-column-gutter / 2;
}



/*--------------------------------

	Widths, push and pull

*/

@mixin widths($modifier: "") {

	@if $modifier != "" {
		$modifier: #{$modifier};
	}

	@for $i from 1 through $grid-column-count {

		.#{$modifier}-#{$i} {
			width: grid-calc($grid-column-count, $i);
		}

		.#{$modifier}-push-#{$i} {
			left: grid-calc($grid-column-count, $i);
		}

		.#{$modifier}-pull-#{$i} {
			left: 0 - grid-calc($grid-column-count, $i);
		}
	}

	.#{$modifier}-push-0 {
		left: 0;
	}

}

@include widths("base");

@each $name, $min-width in $breakpoints {

	@include mq($name) {

		.#{$name}-hidden {
			@include hidden;
		}

		.#{$name}-visible {
			@include visible;
		}

		@include widths(#{$name});

	}

}