@mixin block-grid {
	@include cf;

	> * {
		display: block;
		float: left;
		width: 100%;
	}
}

@mixin block-grid-item($modifierClass, $i) {
	.block-grid--#{$modifierClass}#{$i} {
		> * {
			width: 100% / $i;
		}
	}
}

@mixin block-grid-items($modifier: '') {

	$modifierClass: '';

	@if $modifier != '' {
		$modifierClass: '#{$modifier}-';
	}
	@else {
		$modifier: 'base';
	}

	@for $i from 1 through $grid-column-count {

		@if $dev-mode {

			@include block-grid-item($modifierClass, $i);

		} @else if index( map-deep-get($grid-bp, $modifier, block) , $i) or map-deep-get($grid-bp, $modifier, block) == true {

			@include block-grid-item($modifierClass, $i);

		}

	}

}

.block-grid {
	@include block-grid;
}

@include block-grid-items;

@each $name, $min-width in $breakpoints {

	@include mq($name) {

		@include block-grid-items(#{$name});

	}

}