/*--------------------------------

	Block grid

*/

@mixin block-grid {
	@include cf;
	@include unlist;

	> * {
		display: block;
		float: left;
	}
}

@mixin block-grid-column($columns){
	width: 100% / $columns;
}

@mixin block-grid-items($modifier: "") {

	@if $modifier != "" {
		$modifier: '#{$modifier}';
	}

	@for $i from 1 through $grid-column-count {

		@if $dev_mode {
			.#{$modifier}-block-grid-#{$i} {
				> * {
					width: 100% / $i;
				}
			}
		} @else if index( map-deep-get($grid-bp, $modifier, block) , $i) or map-deep-get($grid-bp, $modifier, block) == true {
			.#{$modifier}-block-grid-#{$i} {
				> * {
					width: 100% / $i;
				}
			}
		}

	}

}

[class*='-block-grid-'] {
	@include block-grid;
}

@include block-grid-items("base");

@each $name, $min-width in $breakpoints {

	@include mq($name) {

		@include block-grid-items(#{$name});

	}

}