.row {
	@include cf;
	margin-left: n($grid-column-gutter);

	@include mq('tablet') {
		margin-left: n($grid-column-gutter--tablet);
	}

	@include mq('desktop') {
		margin-left: n($grid-column-gutter--desktop);
	}

	&--compact {
		> .column {
			margin-top: $spacing-unit--small;

			@include mq('tablet') {
				margin-top: $spacing-unit;
			}
		}
	}
}

.column {
	position: relative;
	float: left;
	width: 100%;
	margin-top: $grid-column-gutter;
	padding-left: $grid-column-gutter;

	@include mq('tablet') {
		margin-top: $grid-column-gutter--tablet;
		padding-left: $grid-column-gutter--tablet;
	}

	@include mq('desktop') {
		margin-top: $grid-column-gutter--desktop;
		padding-left: $grid-column-gutter--desktop;
	}
}
